/* TODO: Clean up. */

:root {
	/* Body. */
	--galleri-body-background-color: var(--galleri-darkest);
	--galleri-body-font-family: helvetica, sans-serif;
	--galleri-body-font-size: 18px;
	--galleri-body-text-color: var(--galleri-lightest);

	/* Header. */
	--galleri-header-background-color: var(--galleri-darker);
	--galleri-header-text-color: var(--galleri-lightest);

	/* Paragraphs. */
	--galleri-paragraph-margin: 20px;

	/* stylelint-disable-next-line @stylistic/max-line-length */
	--galleri-max-width: calc(((var(--galleri-image-width) + var(--galleri-padding-desktop)) * 3) + var(--galleri-image-width) + ((var(--galleri-image-border-width) + var(--galleri-padding-desktop)) * 2));
}

* {
	box-sizing: border-box;
}

body {
	background-color: var(--galleri-body-background-color);
	color: var(--galleri-body-text-color);
	font-family: var(--galleri-body-font-family);
	font-size: var(--galleri-body-font-size);
	margin: 0;
}

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#header,
#footer {
	background-color: var(--galleri-header-background-color);
	color: var(--galleri-header-text-color);
}

#header-inner,
#footer-inner {
	padding: var(--galleri-padding-mobile);

	@media (--galleri-breakpoint) {
		padding: var(--galleri-padding-desktop);
	}
}

#header-inner {
	align-items: center;
	display: flex;
	justify-content: space-between;
	min-height: calc(var(--galleri-button-height) + (var(--galleri-padding-mobile) * 2));

	@media (--galleri-breakpoint) {
		min-height: calc(var(--galleri-button-height) + (var(--galleri-padding-desktop) * 2));
	}
}

#title {
	font-size: 28px;
	font-weight: normal;
	margin: 0;
	text-decoration: none;

	@media (--galleri-breakpoint) {
		font-size: 44px;
	}
}

#galleri-folder-title {
	font-size: 24px;
	font-weight: normal;
	margin: var(--galleri-padding-mobile) var(--galleri-padding-mobile) 0;

	@media (--galleri-breakpoint) {
		font-size: 36px;
		margin: var(--galleri-padding-desktop) var(--galleri-padding-desktop) 0;
	}
}

#galleri-folder-num {
	font-size: 20px;
	margin-left: 8px;
}

#content-inner {
	margin: var(--galleri-padding-mobile) auto;
	padding: 0 var(--galleri-padding-mobile);

	h2,
	p {
		margin: var(--galleri-paragraph-margin) 0 0;
	}

	@media (--galleri-breakpoint) {
		margin: var(--galleri-padding-desktop) auto;
		padding: 0 var(--galleri-padding-desktop);
	}
}

#footer {
	p {
		margin: 0;
	}
}

article {
	flex: 1 1 auto;
}

.contain {
	margin: 0 auto;
	max-width: var(--galleri-max-width);
	width: 100%;
}
