:root {
	--galleri-link-text-color: var(--galleri-lightest);
}

a {
	color: var(--galleri-link-text-color);

	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
	}

	&:focus {
		box-shadow: 0 0 0 var(--galleri-focus-border-width) var(--galleri-focus-border-color);
		outline: none;
	}
}
