@import '../node_modules/normalize.css/normalize';
@import 'utilities/variables';
@import 'base/breadcrumb';
@import 'base/button';
@import 'base/error';
@import 'base/focus';
@import 'base/folder-list';
@import 'base/image-list';
@import 'base/input';
@import 'base/label';
@import 'base/modal';
@import 'base/spinner';
@import 'base/upload';

// TODO: Clean up.

#robroy-folder-header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: $robroy-padding-mobile;

	@media screen and (min-width: $robroy-breakpoint) {
		margin: $robroy-padding-desktop;
	}
}

#robroy-num {
	margin: 0;
	text-align: right;
	white-space: nowrap;

	&:empty {
		display: none;
	}
}
