/* Sizes. */
$galleri-image-width: 300px !default;
$galleri-image-border-width: 0px !default;
$galleri-folder-image-width: $galleri-image-width !default;

/* Padding. */
$galleri-padding-mobile: 16px !default;
$galleri-padding-desktop: 32px !default;

/* Breakpoints. */
$galleri-breakpoint: 1025px !default;

:root {
	/* Colors. */
	--galleri-primary: #00bfff;
	--galleri-red: hsl(from var(--galleri-primary) 0 s calc(l * .6));
	--galleri-green: #006800;
	--galleri-black: #000;
	--galleri-darkest: hsl(from var(--galleri-primary) h s calc(l * .1));
	--galleri-darker: hsl(from var(--galleri-primary) h s calc(l * .2));
	--galleri-dark: hsl(from var(--galleri-primary) h s calc(l * .5));
	--galleri-lightest: hsl(from var(--galleri-primary) h s 95%);
	--galleri-white: #fff;

	/* Admin. */
	--galleri-admin-zindex: 996;

	/* Breadcrumbs. */
	--galleri-breadcrumb-icon: '\203a'; /* &rsaquo; */
	--galleri-breadcrumb-item-arrow-color: var(--galleri-dark);
	--galleri-breadcrumb-padding: 8px;
	--galleri-breadcrumb-item-margin: 12px;

	/* Buttons. */
	--galleri-button-background-color: var(--galleri-primary);
	--galleri-button-background-color-hover: hsl(from var(--galleri-button-background-color) h s calc(l * 1.2));
	--galleri-button-container-gap: 1px;
	--galleri-button-font-size: 16px;
	--galleri-button-padding: 16px;
	--galleri-button-text-color: var(--galleri-darkest);
	--galleri-button-height: calc((var(--galleri-button-padding) * 2) + var(--galleri-button-font-size));

	/* Buttons - danger. */
	--galleri-button-danger-background-color: var(--galleri-red);
	--galleri-button-danger-background-color-hover: hsl(from var(--galleri-button-danger-background-color) h s calc(l * 1.05));
	--galleri-button-danger-text-color: var(--galleri-white);

	/* Buttons - secondary. */
	--galleri-button-secondary-background-color: var(--galleri-darker);
	--galleri-button-secondary-background-color-hover: hsl(from var(--galleri-button-secondary-background-color) h s calc(l * 1.45));
	--galleri-button-secondary-text-color: var(--galleri-lightest);

	/* Errors. */
	--galleri-error-border-color: var(--galleri-red);
	--galleri-error-border-width: 2px;
	--galleri-error-font-size: 16px;
	--galleri-error-margin-top: 8px;
	--galleri-error-text-color: var(--galleri-red);

	/* Focus. */
	--galleri-focus-border-color: var(--galleri-lightest);
	--galleri-focus-border-width: 4px;

	/* Images. */
	--galleri-image-border-color: var(--galleri-white);

	/* Folders. */
	--galleri-folder-item-margin: 12px;
	--galleri-folder-name-margin: 8px;

	/* Fields. */
	--galleri-field-margin-top: $galleri-padding-desktop;

	/* Figures. */
	--galleri-figure-background-color: var(--galleri-darker);

	/* Inputs. */
	--galleri-input-background-color: var(--galleri-darker);
	--galleri-input-margin-top: 4px;
	--galleri-input-padding: 12px;
	--galleri-input-text-color: var(--galleri-lightest);

	/* Files. */
	--galleri-file-input-background-color: var(--galleri-input-background-color);
	--galleri-file-input-background-color-hover: hsl(from var(--galleri-file-input-background-color) h s calc(l * .9));
	--galleri-file-input-text-color: var(--galleri-lightest);
	--galleri-file-input-height: 100px;
	--galleri-file-input-padding: 16px;

	/* Modals. */
	--galleri-modal-background-color: var(--galleri-darker);
	--galleri-modal-button-margin-side: 8px;
	--galleri-modal-button-margin-top: 20px;
	--galleri-modal-container-background-color: hsl(from var(--galleri-black) h s l / 40%);
	--galleri-modal-input-background-color: var(--galleri-darkest);
	--galleri-modal-max-width: 800px;
	--galleri-modal-padding: 32px;
	--galleri-modal-text-color: var(--galleri-lightest);
	--galleri-modal-zindex: 997;

	/* Spinners. */
	--galleri-spinner-color-alternate: var(--galleri-primary);
	--galleri-spinner-color: var(--galleri-darker);
	--galleri-spinner-size: 60px;
	--galleri-spinner-thickness: 12px;
	--galleri-spinner-zindex: 998;

	/* Toasts. */
	--galleri-toast-background-color: var(--galleri-dark);
	--galleri-toast-close-font-size: 18px;
	--galleri-toast-close-icon: '\00d7'; /* &times; */
	--galleri-toast-close-margin-left: 8px;
	--galleri-toast-close-size: 32px;
	--galleri-toast-margin: 16px;
	--galleri-toast-padding: 16px;
	--galleri-toast-text-color: var(--galleri-lightest);
	--galleri-toast-zindex: 999;
	--galleri-toast-success-background-color: var(--galleri-green);
	--galleri-toast-success-text-color: var(--galleri-white);
	--galleri-toast-error-background-color: var(--galleri-red);
	--galleri-toast-error-text-color: var(--galleri-white);
}
