#header-inner {
	align-items: center;
	display: flex;
	justify-content: space-between;
	min-height: #{$button-height + ($padding-mobile * 2)};

	@media screen and (min-width: $breakpoint) {
		min-height: #{$button-height + ($padding-desktop * 2)};
	}
}

#title {
	font-size: 28px;
	font-weight: normal;
	margin: 0;

	@media screen and (min-width: $breakpoint) {
		font-size: 48px;
	}
}
