// TODO: Clean up.

$galleri-body-background-color: $galleri-darkest !default;
$galleri-body-font-family: helvetica, sans-serif !default;
$galleri-body-font-size: 18px !default;
$galleri-body-text-color: $galleri-lightest !default;

$galleri-header-background-color: $galleri-darker !default;
$galleri-header-text-color: $galleri-lightest !default;

$galleri-paragraph-margin: 20px !default;

// stylelint-disable-next-line max-line-length
$galleri-max-width: (($galleri-image-width + $galleri-padding-desktop) * 3) + $galleri-image-width + ($galleri-image-border-width * 2) + ($galleri-padding-desktop * 2) !default;

* {
	box-sizing: border-box;
}

body {
	background-color: $galleri-body-background-color;
	color: $galleri-body-text-color;
	font-family: $galleri-body-font-family;
	font-size: $galleri-body-font-size;
	margin: 0;
}

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#header,
#footer {
	background-color: $galleri-header-background-color;
	color: $galleri-header-text-color;
}

#header-inner,
#footer-inner {
	padding: $galleri-padding-mobile;

	@media screen and (min-width: $galleri-breakpoint) {
		padding: $galleri-padding-desktop;
	}
}

#header-inner {
	align-items: center;
	display: flex;
	justify-content: space-between;
	min-height: #{$galleri-button-height + ($galleri-padding-mobile * 2)};

	@media screen and (min-width: $galleri-breakpoint) {
		min-height: #{$galleri-button-height + ($galleri-padding-desktop * 2)};
	}
}

#title {
	font-size: 28px;
	font-weight: normal;
	margin: 0;
	text-decoration: none;

	@media screen and (min-width: $galleri-breakpoint) {
		font-size: 44px;
	}
}

#galleri-folder-title {
	font-size: 24px;
	font-weight: normal;
	margin: $galleri-padding-mobile $galleri-padding-mobile 0;

	@media screen and (min-width: $galleri-breakpoint) {
		font-size: 36px;
		margin: $galleri-padding-desktop $galleri-padding-desktop 0;
	}
}

#galleri-folder-num {
	font-size: 20px;
	margin-left: 8px;
}

#content-inner {
	margin: $galleri-padding-mobile auto;
	padding: 0 $galleri-padding-mobile;

	h2,
	p {
		margin: $galleri-paragraph-margin 0 0;
	}

	@media screen and (min-width: $galleri-breakpoint) {
		margin: $galleri-padding-desktop auto;
		padding: 0 $galleri-padding-desktop;
	}
}

#footer {
	p {
		margin: 0;
	}
}

article {
	flex: 1 1 auto;
}

.contain {
	margin: 0 auto;
	max-width: $galleri-max-width;
	width: 100%;
}
