// TODO: Clean up.

$robroy-body-background-color: $robroy-darkest !default;
$robroy-body-font-family: helvetica, sans-serif !default;
$robroy-body-font-size: 18px !default;
$robroy-body-text-color: $robroy-lightest !default;

$robroy-header-background-color: $robroy-darker !default;
$robroy-header-text-color: $robroy-lightest !default;

$robroy-paragraph-margin: 20px !default;

$robroy-max-width: (($robroy-image-width + $robroy-padding-desktop) * 3) + $robroy-image-width + ($robroy-image-border-width * 2) + ($robroy-padding-desktop * 2) !default;

* {
	box-sizing: border-box;
}

body {
	background-color: $robroy-body-background-color;
	color: $robroy-body-text-color;
	font-family: $robroy-body-font-family;
	font-size: $robroy-body-font-size;
	margin: 0;
}

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#header,
#footer {
	background-color: $robroy-header-background-color;
	color: $robroy-header-text-color;
}

#header-inner,
#footer-inner {
	padding: $robroy-padding-mobile;

	@media screen and (min-width: $robroy-breakpoint) {
		padding: $robroy-padding-desktop;
	}
}

#header-inner {
	align-items: center;
	display: flex;
	justify-content: space-between;
	min-height: #{$robroy-button-height + ($robroy-padding-mobile * 2)};

	@media screen and (min-width: $robroy-breakpoint) {
		min-height: #{$robroy-button-height + ($robroy-padding-desktop * 2)};
	}
}

#title {
	font-size: 28px;
	font-weight: normal;
	margin: 0;
	text-decoration: none;

	@media screen and (min-width: $robroy-breakpoint) {
		font-size: 44px;
	}
}

#robroy-folder-title {
	font-size: 24px;
	font-weight: normal;
	margin: $robroy-padding-mobile $robroy-padding-mobile 0;

	@media screen and (min-width: $robroy-breakpoint) {
		font-size: 36px;
		margin: $robroy-padding-desktop $robroy-padding-desktop 0;
	}
}

#robroy-folder-num {
	font-size: 20px;
	margin-left: 8px;
}

#content-inner {
	margin: $robroy-padding-mobile auto;
	padding: 0 $robroy-padding-mobile;

	h2,
	p {
		margin: $robroy-paragraph-margin 0 0;
	}

	@media screen and (min-width: $robroy-breakpoint) {
		margin: $robroy-padding-desktop auto;
		padding: 0 $robroy-padding-desktop;
	}
}

#footer {
	p {
		margin: 0;
	}
}

article {
	flex: 1 1 auto;
}

.contain {
	margin: 0 auto;
	max-width: $robroy-max-width;
	width: 100%;
}
