$galleri-link-text-color: $galleri-lightest !default;

a {
	color: $galleri-link-text-color;

	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
	}

	&:focus {
		box-shadow: 0 0 0 $galleri-focus-border-width $galleri-focus-border-color;
		outline: none;
	}
}
