body {
	font-family: Helvetica, sans-serif;
	font-size: 18px;
}

a {
	color: $link-text-color;

	&:hover,
	&:active,
	&:focus {
		text-decoration: none;
	}

	&:focus {
		box-shadow: 0 0 0 4px $focus-border-color;
		outline: none;
	}
}
