.galleri-breadcrumb {
	display: flex;
	flex-wrap: wrap;
	line-height: 1;
	list-style: none;
	margin: 0 var(--galleri-padding-mobile);
	padding: 0;

	@media (--galleri-breakpoint) {
		margin: 0 var(--galleri-padding-desktop);
	}
}

.galleri-breadcrumb-item {
	margin: var(--galleri-breadcrumb-item-margin) 0;

	&::after {
		color: var(--galleri-breadcrumb-item-arrow-color);
		content: var(--galleri-breadcrumb-icon);
		margin-left: var(--galleri-breadcrumb-padding);
		margin-right: var(--galleri-breadcrumb-padding);
	}

	&:last-of-type::after {
		content: '';
		margin: 0;
	}
}
