.galleri-file-container {
	align-items: center;
	color: var(--galleri-file-input-text-color);
	display: flex;
	flex: 1 1 auto;
	height: var(--galleri-file-input-height);
	justify-content: center;
	margin-top: var(--galleri-input-margin-top);
	overflow: hidden;
	padding: 0 var(--galleri-file-input-padding);
	position: relative;

	.galleri-has-error & {
		box-shadow: 0 0 0 var(--galleri-error-border-width) var(--galleri-error-border-color);
	}
}

.galleri-file-input {
	background-color: var(--galleri-file-input-background-color);
	border: 0;
	cursor: pointer;
	font-size: 0;
	height: auto;
	inset: -100% 0 0;
	line-height: 1;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 100%;

	&:hover,
	&:active,
	&:focus {
		background-color: var(--galleri-file-input-background-color-hover);
	}

	.galleri-modal & {
		background-color: var(--galleri-modal-input-background-color);
	}
}

.galleri-file-text {
	pointer-events: none;
	position: relative;
}
