.galleri-modal-open {
	overflow: hidden;
}

.galleri-modal {
	border: 0;
	padding: 0;
	z-index: var(--galleri-modal-zindex);
}

.galleri-modal::backdrop {
	background-color: var(--galleri-modal-container-background-color);
}

.galleri-modal-box {
	background-color: var(--galleri-modal-background-color);
	color: var(--galleri-modal-text-color);
	max-width: var(--galleri-modal-max-width);
	padding: var(--galleri-modal-padding);
	width: 100%;
}

.galleri-modal-text {
	margin: 0;
}

.galleri-modal-options {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: var(--galleri-modal-button-margin-top) auto 0;

	button + button {
		margin-left: var(--galleri-modal-button-margin-side);
	}

	form + & {
		margin-top: var(--galleri-field-margin-top);
	}
}
