@use '../utilities/variables';

.galleri-button-container {
	display: flex;
	flex-wrap: wrap;
	gap: var(--galleri-button-container-gap);

	.galleri-button {
		flex: 1 1 auto;
		padding-left: 0;
		padding-right: 0;
	}

	figure & {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
	}
}

.galleri-is-admin {
	margin-bottom: calc(var(--galleri-button-height) + (variables.$galleri-padding-mobile * 2));
}

#galleri-admin {
	background: var(--galleri-darkest);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	z-index: var(--galleri-admin-zindex);
}

#galleri-admin-buttons {
	padding: variables.$galleri-padding-mobile;
}

.galleri-button-authenticate {
	white-space: nowrap;
	width: 100px;
}
