.galleri-button-container {
	display: flex;
	flex-wrap: wrap;
	gap: $galleri-button-container-gap;

	.galleri-button {
		flex: 1 1 auto;
		padding-left: 0;
		padding-right: 0;
	}

	figure & {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
	}
}

.galleri-is-admin {
	margin-bottom: #{$galleri-button-height + ($galleri-padding-mobile * 2)};
}

#galleri-admin {
	background: $galleri-darkest;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	z-index: $galleri-admin-zindex;
}

#galleri-admin-buttons {
	padding: $galleri-padding-mobile;
}

.galleri-button-authenticate {
	white-space: nowrap;
	width: 100px;
}
