.robroy-breadcrumb {
	display: flex;
	flex-wrap: wrap;
	line-height: 1;
	list-style: none;
	margin: 0 $robroy-padding-mobile;
	padding: 0;

	@media screen and (min-width: $robroy-breakpoint) {
		margin: 0 $robroy-padding-desktop;
	}
}

.robroy-breadcrumb-item {
	margin: $robroy-breadcrumb-item-margin 0;

	&::after {
		color: $robroy-breadcrumb-item-arrow-color;
		content: $robroy-breadcrumb-icon;
		margin-left: $robroy-breadcrumb-padding;
		margin-right: $robroy-breadcrumb-padding;
	}

	&:last-of-type::after {
		content: '';
		margin: 0;
	}
}
