.robroy-button {
	appearance: none;
	background-color: $button-background-color;
	border: 0;
	color: $button-text-color;
	cursor: pointer;
	display: block;
	font-size: $button-font-size;
	line-height: 1;
	margin: 0;
	padding: $button-padding;
	white-space: nowrap;

	&:hover,
	&:active,
	&:focus {
		background-color: $button-background-color-hover;
	}

	.robroy-figure & {
		position: relative;
	}
}

.robroy-button--danger {
	background-color: $button-danger-background-color;
	color: $button-danger-text-color;

	&:hover,
	&:active,
	&:focus {
		background-color: $button-danger-background-color-hover;
	}
}

.robroy-button--secondary {
	background-color: $button-secondary-background-color;
	color: $button-secondary-text-color;

	&:hover,
	&:active,
	&:focus {
		background-color: $button-secondary-background-color-hover;
	}
}
