.galleri-button {
	appearance: none;
	background-color: var(--galleri-button-background-color);
	border: 0;
	color: var(--galleri-button-text-color);
	cursor: pointer;
	display: block;
	font-size: var(--galleri-button-font-size);
	line-height: 1;
	margin: 0;
	padding: var(--galleri-button-padding);

	&:hover,
	&:active,
	&:focus {
		background-color: var(--galleri-button-background-color-hover);
	}

	.galleri-figure & {
		position: relative;
	}
}

.galleri-button--danger {
	background-color: var(--galleri-button-danger-background-color);
	color: var(--galleri-button-danger-text-color);

	&:hover,
	&:active,
	&:focus {
		background-color: var(--galleri-button-danger-background-color-hover);
	}
}

.galleri-button--secondary {
	background-color: var(--galleri-button-secondary-background-color);
	color: var(--galleri-button-secondary-text-color);

	&:hover,
	&:active,
	&:focus {
		background-color: var(--galleri-button-secondary-background-color-hover);
	}
}
