.robroy-button {
	appearance: none;
	background-color: $robroy-button-background-color;
	border: 0;
	color: $robroy-button-text-color;
	cursor: pointer;
	display: block;
	font-size: $robroy-button-font-size;
	line-height: 1;
	margin: 0;
	padding: $robroy-button-padding;
	white-space: nowrap;

	&:hover,
	&:active,
	&:focus {
		background-color: $robroy-button-background-color-hover;
	}

	.robroy-figure & {
		position: relative;
	}
}

.robroy-button--danger {
	background-color: $robroy-button-danger-background-color;
	color: $robroy-button-danger-text-color;

	&:hover,
	&:active,
	&:focus {
		background-color: $robroy-button-danger-background-color-hover;
	}
}

.robroy-button--secondary {
	background-color: $robroy-button-secondary-background-color;
	color: $robroy-button-secondary-text-color;

	&:hover,
	&:active,
	&:focus {
		background-color: $robroy-button-secondary-background-color-hover;
	}
}

.robroy-button-container {
	bottom: 0;
	display: flex;
	justify-content: space-between;
	left: 0;
	position: absolute;
	right: 0;
}
