.robroy-error {
	color: $robroy-error-text-color;
	display: block;
	font-size: $robroy-error-font-size;
	margin-top: $robroy-error-margin-top;
}

.robroy-has-error {
	box-shadow: 0 0 0 $robroy-error-border-width $robroy-error-border-color;
}
