.galleri-file-container {
	align-items: center;
	color: $galleri-file-input-text-color;
	display: flex;
	flex: 1 1 auto;
	height: $galleri-file-input-height;
	justify-content: center;
	margin-top: $galleri-input-margin-top;
	overflow: hidden;
	padding: 0 $galleri-file-input-padding;
	position: relative;

	.galleri-has-error & {
		box-shadow: 0 0 0 $galleri-error-border-width $galleri-error-border-color;
	}
}

.galleri-file-input {
	background-color: $galleri-file-input-background-color;
	border: 0;
	bottom: 0;
	cursor: pointer;
	font-size: 0;
	height: auto;
	left: 0;
	line-height: 1;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: -100%;
	width: 100%;

	&:hover,
	&:active,
	&:focus {
		background-color: $galleri-file-input-background-color-hover;
	}

	.galleri-modal & {
		background-color: $galleri-modal-input-background-color;
	}
}

.galleri-file-text {
	pointer-events: none;
	position: relative;
}
