.galleri-button,
.galleri-input,
.galleri-link,
.galleri-modal,
.galleri-select {
	&:focus {
		box-shadow: 0 0 0 $galleri-focus-border-width $galleri-focus-border-color;
		outline: none;
	}
}

.galleri-file-container {
	&:focus-within {
		box-shadow: 0 0 0 $galleri-focus-border-width $galleri-focus-border-color;
	}
}
