#galleri-folders {
	display: flex;
	flex-wrap: wrap;
	grid-gap: $galleri-padding-mobile;
	justify-content: space-between;
	line-height: 1;
	list-style: none;
	margin: 0;
	padding: 0;

	&:empty {
		display: none;
	}

	@media screen and (min-width: $galleri-breakpoint) {
		grid-gap: $galleri-padding-desktop;
	}
}

.galleri-folder {
	margin: $galleri-folder-item-margin 0;
}

.galleri-folder-link {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	box-sizing: content-box;
	display: block;
	width: $galleri-folder-image-width;
}

.galleri-folder-img {
	height: auto;
	width: $galleri-folder-image-width;

	& + .galleri-folder-name {
		margin-top: $galleri-folder-name-margin;
	}
}

.galleri-folder-name {
	line-height: 1.2;
	text-align: center;
}
