@use '../utilities/variables';

$breakpoint: (variables.$galleri-image-width * 2) + (variables.$galleri-image-border-width * 2) + (variables.$galleri-padding-mobile * 3);

#galleri-images {
	display: grid;
	grid-gap: variables.$galleri-padding-mobile;
	grid-template-columns: repeat(auto-fill, calc(variables.$galleri-image-width + (variables.$galleri-image-border-width * 2)));
	justify-content: space-between;
	margin: variables.$galleri-padding-mobile;

	&.galleri-grid {
		grid-auto-rows: 1px;
	}

	&:empty {
		display: none;
	}

	@media (width <= $breakpoint) {
		justify-content: center;
	}

	@media (width >= variables.$galleri-breakpoint) {
		grid-gap: variables.$galleri-padding-desktop;
		margin: variables.$galleri-padding-desktop;
	}
}

.galleri-figure {
	background: var(--galleri-figure-background-color);
	margin: 0;
	position: relative;
}

.galleri-link {
	border-color: var(--galleri-image-border-color);
	border-style: solid;
	border-width: variables.$galleri-image-border-width;
	display: block;
	font-size: 0;

	.galleri-grid & {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		inset: 0;
		opacity: 0;
		position: absolute;
		transition: opacity 200ms ease-in-out;
	}

	&.galleri-show {
		opacity: 1;
	}
}

.galleri-img {
	height: auto;
	width: 100%;

	.galleri-grid & {
		opacity: 0;
	}
}
