.robroy-field {
	margin-top: $robroy-field-margin-top;
}

.robroy-field--select {
	position: relative;

	&::after {
		border-color: $robroy-input-text-color transparent transparent transparent;
		border-style: solid;
		border-width: 5px;
		bottom: $robroy-input-padding;
		content: '';
		display: block;
		height: 0;
		pointer-events: none;
		position: absolute;
		right: $robroy-input-padding;
		width: 0;
	}
}

.robroy-input,
.robroy-select {
	appearance: none;
	background-color: $robroy-input-background-color;
	border: 0;
	border-radius: 0;
	color: $robroy-input-text-color;
	margin-top: $robroy-input-margin-top;
	padding: $robroy-input-padding;
	width: 100%;

	.robroy-modal & {
		background-color: $robroy-modal-input-background-color;
	}

	.robroy-has-error & {
		box-shadow: 0 0 0 $robroy-error-border-width $robroy-error-border-color;
	}
}
