.robroy-field {
	margin-top: $robroy-field-margin-top;
}

.robroy-input,
.robroy-select {
	background-color: $robroy-input-background-color;
	border: 0;
	border-radius: 0;
	color: $robroy-input-text-color;
	margin-top: $robroy-input-margin-top;
	padding: $robroy-input-padding;
	width: 100%;

	.robroy-modal & {
		background-color: $robroy-modal-input-background-color;
	}

	.robroy-has-error & {
		box-shadow: 0 0 0 $robroy-error-border-width $robroy-error-border-color;
	}
}
