#robroy-images {
	display: grid;
	grid-auto-rows: 1px;
	grid-gap: $padding-mobile;
	grid-template-columns: repeat(auto-fill, minmax($minimum-image-width, 1fr));
	margin: $padding-mobile;

	&:empty {
		display: none;
	}

	@media screen and (min-width: $breakpoint) {
		grid-gap: $padding-desktop;
		margin: $padding-desktop;
	}
}

.robroy-figure {
	margin: 0;
	position: relative;
}

.robroy-link {
	background-position: center;
	background-size: cover;
	bottom: 0;
	display: block;
	font-size: 0;
	left: 0;
	right: 0;
	top: 0;
}

.robroy-img {
	height: auto;
	opacity: 0;
	width: 100%;
}

.robroy-button,
.robroy-input,
.robroy-link,
.robroy-select {
	&:focus {
		box-shadow: 0 0 0 4px $focus-border-color;
		outline: none;
	}
}

#robroy-folder-header {
	display: flex;
	justify-content: space-between;
	margin: $padding-mobile;

	@media screen and (min-width: $breakpoint) {
		margin: $padding-desktop;
	}
}

#robroy-num {
	margin: 0;
	text-align: right;

	&:empty {
		display: none;
	}
}

#robroy-folders {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;

	&:empty {
		display: none;
	}
}

.robroy-folder + .robroy-folder {
	&::before {
		color: $dark;
		content: '\00b7'; // &middot;
		margin-left: 8px;
		margin-right: 8px;
	}
}
