.robroy-modal {
	align-items: center;
	background: $modal-container-background-color;
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

.robroy-modal-box {
	background: $modal-background-color;
	color: $modal-text-color;
	margin: 32px;
	max-width: 800px;
	padding: 32px;
	width: 100%;
}

.robroy-modal-text {
	margin: 0;
}

.robroy-modal-options {
	display: flex;
	justify-content: center;
	margin: 20px auto 0;

	button + button {
		margin-left: 8px;
	}
}
