.robroy-modal {
	align-items: center;
	background-color: $robroy-modal-container-background-color;
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: $robroy-modal-zindex;
}

.robroy-modal-box {
	background-color: $robroy-modal-background-color;
	color: $robroy-modal-text-color;
	margin: $robroy-modal-margin;
	max-width: $robroy-modal-max-width;
	padding: $robroy-modal-padding;
	width: 100%;
}

.robroy-modal-text {
	margin: 0;
}

.robroy-modal-options {
	display: flex;
	justify-content: center;
	margin: $robroy-modal-button-margin-top auto 0;

	button + button {
		margin-left: $robroy-modal-button-margin-side;
	}

	form + & {
		margin-top: $robroy-field-margin-top;
	}
}
