.galleri-modal-open {
	overflow: hidden;
}

.galleri-modal {
	border: 0;
	padding: 0;
	z-index: $galleri-modal-zindex;
}

.galleri-modal::backdrop {
	background-color: $galleri-modal-container-background-color;
}

.galleri-modal-box {
	background-color: $galleri-modal-background-color;
	color: $galleri-modal-text-color;
	max-width: $galleri-modal-max-width;
	padding: $galleri-modal-padding;
	width: 100%;
}

.galleri-modal-text {
	margin: 0;
}

.galleri-modal-options {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: $galleri-modal-button-margin-top auto 0;

	button + button {
		margin-left: $galleri-modal-button-margin-side;
	}

	form + & {
		margin-top: $galleri-field-margin-top;
	}
}
