.robroy-spinner {
	align-items: center;
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;

	&::after {
		animation: robroy-spin 2s infinite linear;
		border-color: $spinner-color $spinner-color $spinner-color $spinner-color-alternate;
		border-radius: 1000px;
		border-style: solid;
		border-width: 12px;
		content: '';
		display: block;
		height: 60px;
		width: 60px;
	}
}

@keyframes robroy-spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(359deg);
	}
}
