.robroy-spinner {
	align-items: center;
	bottom: 0;
	display: flex;
	font-size: 0;
	justify-content: center;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;

	.no-js & {
		display: none;
	}

	&::after {
		animation: robroy-spin 2s infinite linear;
		border-color: $robroy-spinner-color $robroy-spinner-color $robroy-spinner-color $robroy-spinner-color-alternate;
		border-radius: 1000px;
		border-style: solid;
		border-width: $robroy-spinner-thickness;
		content: '';
		display: block;
		height: $robroy-spinner-size;
		width: $robroy-spinner-size;
	}
}

@keyframes robroy-spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(359deg);
	}
}
