.galleri-toast-container {
	align-items: flex-end;
	display: flex;
	flex-direction: column;
	z-index: $galleri-toast-zindex;
}

#galleri-toast-container {
	bottom: 100%;
	position: absolute;
	right: 0;
}

#galleri-modal-toast-container {
	bottom: 0;
	position: fixed;
	right: 0;
}

.galleri-toast {
	align-items: center;
	animation-fill-mode: forwards;
	animation-name: galleri-slide-in-out;
	background-color: $galleri-toast-background-color;
	color: $galleri-toast-text-color;
	display: flex;
	margin: $galleri-toast-margin;
	max-width: 90vw;
}

.galleri-toast--success {
	background-color: $galleri-toast-success-background-color;
	color: $galleri-toast-success-text-color;
}

.galleri-toast--danger {
	background-color: $galleri-toast-error-background-color;
	color: $galleri-toast-error-text-color;
}

.galleri-toast-text {
	margin: 0;
	padding: $galleri-toast-padding;
}

.galleri-toast-close {
	background: transparent;
	border: 0;
	cursor: pointer;
	font-size: 0;
	height: $galleri-toast-close-size;
	margin: 0 $galleri-toast-close-margin-left 0 0;
	padding: 0;
	width: $galleri-toast-close-size;

	&::after {
		color: $galleri-toast-text-color;
		content: $galleri-toast-close-icon;
		display: inline-block;
		font-size: $galleri-toast-close-font-size;
	}

	&:hover,
	&:active,
	&:focus {
		background: transparent;
	}
}

@keyframes galleri-slide-in-out {
	0% {
		transform: translateX(200%) translateZ(0);
	}

	10% {
		transform: translateX(0%) translateZ(0);
	}

	90% {
		transform: translateX(0%) translateZ(0);
	}

	100% {
		transform: translateX(200%) translateZ(0);
	}
}
