.robroy-form-container {
	margin: 16px;

	@media screen and (min-width: $breakpoint) {
		margin: 32px;
	}
}

.robroy-form {
	display: flex;
	flex-direction: column;

	@media screen and (min-width: $breakpoint) {
		flex-direction: row;
	}
}

.robroy-form--folder {
	@media screen and (min-width: $breakpoint) {
		align-items: center;
	}
}

.robroy-form--delete {
	@media screen and (min-width: $breakpoint) {
		margin-left: 16px;
	}
}

.robroy-input,
.robroy-select {
	background: $input-background-color;
	border: 0;
	border-radius: 0;
	color: $input-color;
	padding: 12px;

	@media screen and (min-width: $breakpoint) {
		margin-right: 20px;
	}
}

.robroy-heading {
	margin: 0 24px 0 0;
	white-space: nowrap;
}

.robroy-label {
	cursor: pointer;
	margin-top: $padding-mobile;

	@media screen and (min-width: $breakpoint) {
		margin-right: 8px;
		margin-top: 0;
	}
}

#robroy-edit-submit,
#robroy-create-submit {
	margin-top: $padding-mobile;

	@media screen and (min-width: $breakpoint) {
		margin-top: 0;
	}
}

#robroy-create-image-container {
	align-items: center;
	color: $upload-text-color;
	display: flex;
	flex: 1 1 auto;
	height: 100px;
	justify-content: center;
	overflow: hidden;
	padding: 0 16px;
	position: relative;
	transition: background-color ease-in-out 50ms;

	&:focus-within {
		box-shadow: 0 0 0 4px $focus-border-color;
	}
}

#robroy-create-image-input {
	background-color: $upload-background-color;
	border: 0;
	bottom: 0;
	cursor: pointer;
	font-size: 0;
	height: auto;
	left: 0;
	line-height: 1;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: -100%;
	width: 100%;

	&:hover,
	&:active,
	&:focus {
		background-color: $upload-background-color-hover;
	}
}

#robroy-create-image-text {
	pointer-events: none;
	position: relative;
}

#robroy-create-image-button {
	align-items: center;
	display: none;
	justify-content: center;

	&:focus-within {
		position: relative;
	}
}
