// TODO: Clean up.

.robroy-form-container {
	margin: 16px;

	@media screen and (min-width: $robroy-breakpoint) {
		margin: 32px;
	}
}

.robroy-form {
	display: flex;
	flex-direction: column;

	@media screen and (min-width: $robroy-breakpoint) {
		flex-direction: row;
	}
}

.robroy-form--folder {
	@media screen and (min-width: $robroy-breakpoint) {
		align-items: center;
	}
}

.robroy-form--delete {
	@media screen and (min-width: $robroy-breakpoint) {
		margin-left: 16px;
	}
}

.robroy-heading {
	margin: 0 24px 0 0;
	white-space: nowrap;
}

#robroy-edit-submit,
#robroy-create-submit {
	margin-top: $robroy-padding-mobile;

	@media screen and (min-width: $robroy-breakpoint) {
		margin-top: 0;
	}
}

.robroy-file-input-container {
	align-items: center;
	color: $robroy-file-input-text-color;
	display: flex;
	flex: 1 1 auto;
	height: 100px;
	justify-content: center;
	overflow: hidden;
	padding: 0 16px;
	position: relative;
}

#robroy-create-image-input {
	background-color: $robroy-file-input-background-color;
	border: 0;
	bottom: 0;
	cursor: pointer;
	font-size: 0;
	height: auto;
	left: 0;
	line-height: 1;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: -100%;
	width: 100%;

	&:hover,
	&:active,
	&:focus {
		background-color: $robroy-file-input-background-color-hover;
	}
}

#robroy-create-image-text {
	pointer-events: none;
	position: relative;
}

#robroy-create-image-button {
	align-items: center;
	display: none;
	justify-content: center;

	&:focus-within {
		position: relative;
	}
}

.robroy-fields {
	.robroy-label {
		display: inline-block;
		margin-right: 0;
		margin-top: 20px;
	}

	.robroy-select,
	.robroy-input {
		background: $robroy-modal-input-background-color;
		display: block;
		margin-right: 0;
		margin-top: 8px;
		width: 100%;
	}
}

#robroy-create-folder-name,
#robroy-edit-folder-name,
#robroy-edit-folder-form {
	width: 100%;
}
